<!DOCTYPE html>

<html>

	<head>
<title>Post4Blood</title>
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">


</head>

	<body>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="./" class="navbar-brand">Post4Blood</a>
        
        </div>
      </div>
    </div>
		{% block maincontent %}

		{% endblock maincontent %}


		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>

	</body>
  <footer>
  	<p>
					Built with lots of <span style="color: #C0392B;">♥</span> a <a href="http://codeforgood.in" target="_blank">CodeforGood</a> Project
				</p>
  </footer>
</html>